@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}

@section scripts{
    <script>
        const urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        const obj = @Html.Raw(Json.Encode(Model));
        const urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
</script>
    @Scripts.Render("~/bundles/altClientes")
    @Scripts.Render("~/bundles/formFormatter")
    @Scripts.Render("~/bundles/utils")
}

<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")